<div class = "navbar">
   
    <a class = "logo"routerLink = "/home">Developer<span style="font-weight:bold;">Community</span></a>
     <div class="search">
      <form action="#">
          <input type="text"
              placeholder=" Search..."
              name="search">
          <button>
              <i class="fa fa-search"
                  style="font-size: 18px;">
              </i>
          </button>
      </form>
  </div>
  <a routerLink = "/home">Home</a>
  <a routerLink = "/question">Questions</a>
  <a routerLink = "/postquery">Ask Query</a>
  <a routerLink = "/user">Users</a>
  <a routerLink="/logout">logout</a> 

</div>
